---
import { Image } from "astro:assets";
import aboutHero from "~/assets/pages/about/about-hero.png";
import heroCover from "~/assets/covers/hero-cover.png";
import cover from "~/assets/covers/top-cover.png";
import valueImg from "~/assets/pages/about/values.png";
import myStoryImg from "~/assets/pages/about/my-story.png";

import Layout from "../layouts/Layout.astro";
import Qualifications from "@sections/about/Qualifications.astro";
import CTA from "@sections/CTA.astro";

const values = [
  {
    title: "Scientifically Sound",
    text: "Everything is backed by the most up to date and trusted research, all of my decisions come from these sources and each case is independently researched.",
  },
  {
    title: "For The Client",
    text: "Everything about TWR Fitness is for the client. I will work with you to get you what you need. That’s why I run my own practice, it’s just me and you.",
  },
  {
    title: "Accountable Action",
    text: "We will be organized, we will have a schedule, and I will always be honest about what we need to do to achieve your goals. Whatever we decide your role will be in that, I’ll be holding you to it.",
  },
  {
    title: "Enjoy The Process",
    text: "Progress is important but we have to learn to enjoy it. Our relationship as trainer and client is important to me. When you come into my studio it should be a place you feel comfortable in, a place you feel is yours just as much as it is mine. As we work together we’ll get to know one another and build that relationship.",
  },
];
---

<Layout
  seo={{
    title: "About Us | TWR Fitness",
    description:
      "TWR Fitness is a privately owned training facility in Needham, Massachusetts. I offer personal training for adults, youths, and soccer players.",
  }}
>
  <section class="px-edge py-10 lg:py-20 relative lg:min-h-[1000px]">
    <Image
      class="absolute inset-0 h-full object-cover"
      quality={100}
      loading="eager"
      src={aboutHero}
      alt="man running"
    />
    <div class="xl:hidden w-full h-full bg-black/50 absolute inset-0"></div>
    <Image
      class="absolute left-0 bottom-0 right-0"
      loading="eager"
      src={heroCover}
      alt="decorative wave cover"
    />
    <div class="max-w-screen-2xl mx-auto relative z-10">
      <div
        class="my-10 lg:mt-52 max-w-[590px] mx-auto lg:mx-0 text-center lg:text-left"
      >
        <h1 class="font-oswald font-medium text-2xl text-white">
          Chasing Your Potential
        </h1>
        <h2 class="mt-2 font-oswald font-bold text-5xl text-white">
          Meet The Specialist
        </h2>
        <p class="mt-5 text-white text-lg">
          My name is Tristan Roveto, and I am the founder and sole operator of
          TWR Fitness. I opened this training studio in Needham because I
          believe that Personal Training is about the trainer to client
          connection. I wanted to have the ability to use my years of experience
          in a flexible environment to genuinely help people and make a
          difference in their life, tailoring your experience to you.
        </p>
        <a
          href="/your-fitness-journey"
          class="mt-7 bg-accent py-5 px-6 rounded text-white font-bold inline-block"
          >Start Your Fitness Journey For Free</a
        >
      </div>
    </div>
  </section>

  <section class="bg-bg px-edge py-10 lg:py-20 relative">
    <Image
      class="absolute left-0 top-0 right-0"
      quality={100}
      src={cover}
      alt="cover"
    />

    <div
      class="max-w-screen-2xl mx-auto relative z-10 flex gap-10 flex-col lg:flex-row items-center justify-between"
    >
      <div class="max-w-xl text-center lg:text-left">
        <p class="font-oswald text-2xl">The Heartbeat of TWR Fitness</p>
        <h2 class="mt-2 font-oswald font-bold text-4xl text-text-dark">
          Values that <span class="text-primary-lighter">Drive Us</span>
          and <span class="text-primary-lighter">Inspire You!</span>
        </h2>
        <ul class="mt-5 text-lg space-y-4">
          {
            values.map((value) => (
              <li>
                <span class="font-bold">{value.title}: </span>
                {value.text}
              </li>
            ))
          }
        </ul>
        <a
          href="/your-fitness-journey"
          class="mt-7 bg-accent py-5 px-6 rounded text-white font-bold inline-block"
          >Start Your Fitness Journey For Free</a
        >
      </div><Image src={valueImg} alt="twr fitness values" />
    </div>
  </section>

  <section class="px-edge py-10 lg:py-20 relative xl:min-h-[1000px]">
    <Image
      class="absolute inset-0 h-full object-cover object-left xl:object-center"
      quality={100}
      src={myStoryImg}
      alt="tristain of twr fitness"
    />
    <div class="xl:hidden w-full h-full bg-black/60 absolute inset-0"></div>

    <div
      class="max-w-screen-2xl mx-auto flex justify-center xl:justify-end relative z-10"
    >
      <div
        class="xl:mt-20 max-w-xl mx-auto lg:mx-0 text-white text-center xl:text-right"
      >
        <p class="font-oswald text-2xl">Leading from Experience</p>
        <h2 class="mt-2 font-oswald font-bold text-5xl">
          I've Been Down Your Path Before
        </h2>
        <div class="mt-5 space-y-3 text-lg">
          <p>
            I have had chronic lymes disease since 2012, however the long term
            effects did not truly kick in until 2018. I spent years slowly
            falling apart, losing my ability to run, climb stairs, and even to
            work and walk. By 22 years old I couldn’t even get dressed in the
            morning without throwing out my back and needing to rest for days at
            a time. I saw doctors, specialists, did physical therapy, I tried
            everything traditional medicine had to offer. As someone who went to
            school for physics as an undergraduate, that was the route I thought
            I should take.
          </p>
          <p>
            Everything changed when I started working with a brilliantly
            intelligent NASM Master Trainer Kyle Crocker in my hometown in
            Connecticut. Through working with him for a year on my health and
            fitness, as well as seeing Lymes specialists, I was able to not only
            put my symptoms into remission but also achieve new levels of
            physical fitness that, due to my condition, I had never felt before.
            He changed my life, and I run my practice working to do the same for
            others.
          </p>
          <p>
            Kyle mentored me through the start of my company in Connecticut for
            nearly 2 years, teaching me as much as he could, before I moved to
            Boston in 2022. I reopened TWR Fitness in the beautiful town of
            Needham in the summer of 2023. Now I work to help people of all ages
            and starting places with their health and fitness. Young athletes
            with knee pain or looking for higher performance, adults looking to
            find a better health routine in the craziness of being a parent, and
            so many other types of people. My experience as an athlete, studying
            hard science, and dealing with my own debilitating health
            conditions, in combination with a brilliant mentorship and continued
            education through NASM, has given me everything I need to run a
            practice I am proud to be the owner of.
          </p>
        </div>

        <ul class="mt-4 list-disc list-inside font-bold text-white text-xl">
        </ul>
        <a
          href="/your-fitness-journey"
          class="mt-7 bg-accent py-5 px-6 rounded text-white font-bold inline-block"
          >Start Your Fitness Journey For Free</a
        >
      </div>
    </div>
  </section>

  <Qualifications />

  <section class="bg-bg px-edge py-10 lg:py-20 relative">
    <div
      class="max-w-screen-2xl mx-auto relative z-10 flex gap-10 flex-col lg:flex-row items-center justify-between"
    >
      <div class="max-w-xl text-center lg:text-left">
        <p class="font-oswald text-2xl">Fun Facts About Tristan</p>
        <h2 class="mt-2 font-oswald font-bold text-4xl text-text-dark">
          Get To <span class="text-primary-lighter">Know</span>
          Me!
        </h2>
        <ul class="list-disc">
          <li>
            Retired Professional Fine Dining Sous Chef (6 years of experience)
          </li>
          <li>
            Went to college at Umass Amherst for Astronomy and Astrophysics,
            dropped out after 3 semesters, did 2 more semesters of physics at
            Gateway Community College, and dropped out again! I consider myself
            an amateur astronomer and still love the field.
          </li>
          <li>Raced sailboats at college on the sailing team.</li>
          <li>I am scuba certified and have my boating license.</li>
          <li>
            I am an aspiring author and have been writing novels, novellas, and
            series since 2016. Heavenly inspired by Tolkien’s work as well as
            many classics, philosophy, fiction, and anime.
          </li>
          <li>
            Halloween is one of my favorite holidays and fall is my favorite
            season.
          </li>
          <li>
            I am a cat person and dream of having my own purebred Norwegian
            Forest Cat one day.
          </li>
          <li>I really like drinking tea and I don’t like the color orange.</li>
        </ul>
      </div><Image src={valueImg} alt="twr fitness values" />
    </div>
  </section>

  <CTA />
</Layout>
