---
import { Image } from "astro:assets";

import adpImage from "@imgs/adult-personal-training.png";
import yptImage from "@imgs/youth-personal-training.png";
import ssdImage from "@imgs/soccer-skill-development.png";

const services = [
  {
    title: "Adult Personal Training",
    text: "Whether you are interested in improving your golf game, recovering from an injury, want to lose weight, or want to sleep better, we have the expertise to get you where you want to go.",
    img: {
      src: adpImage,
      alt: "adult personal training",
    },
    link: {
      to: "/services/adult-personal-training",
      text: "Learn More About Our APT Program",
    },
  },
  {
    title: "Youth Personal Training",
    text: "Start training the right way to build a strong athletic foundation and injury resistance, or start pushing yourself to find the next level with professional performance training for all sports. Or get back on the field with post-injury recovery training.",
    img: {
      src: yptImage,
      alt: "youth personal training",
    },
    link: {
      to: "/services/youth-personal-training",
      text: "Learn More About Our YPT Program",
    },
  },
  {
    title: "Soccer Skill Development",
    text: "Looking to improve your soccer skills? Whether you’re learning the basics or training for an upcoming college season Tristan has the coaching experience to help you love the game while competing at the highest level.",
    img: {
      src: ssdImage,
      alt: "soccer skill development",
    },
    link: {
      to: "/services/soccer-skill-development",
      text: "Learn More About Our SSD Program",
    },
  },
];
---

<section class="px-edge py-10 lg:py-20 bg-bg">
  <div class="max-w-screen-2xl mx-auto text-center">
    <h2 class="font-oswald font-bold text-6xl text-text-dark">
      Personal Training in Its Purest Form
    </h2>
    <p class="mt-4 max-w-md mx-auto font-oswald text-lg">
      With Tristan at TWR Fitness you get specialized and personalized one on
      one training designed to fit your needs.
      <br />
      Check out our 3 primary services below!
    </p>

    <div
      class="mt-10 lg:mt-20 flex gap-10 flex-col lg:flex-row items-center lg:items-start justify-between"
    >
      {
        services.map((service) => (
          <div class="max-w-[350px] text-center lg:text-left">
            <Image
              class="mx-auto"
              src={service.img.src}
              quality={100}
              alt={service.img.alt}
            />
            <p class="mt-8 font-oswald font-bold text-3xl">{service.title}</p>
            <p class="mt-2">{service.text}</p>
            <a
              href={service.link.to}
              class="mt-4 inline-block text-primary-lighter text-lg font-bold"
            >
              {service.link.text}
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
