---
import { Image } from "astro:assets";
import catherineImg from "~/assets/reviews/catherine-sambuco.png";
import thomasImg from "~/assets/reviews/thomas.png";
import fredImg from "~/assets/reviews/fred.png";
import michaelImg from "~/assets/reviews/michael-saniuk.png";
import googleFiveStars from "~/assets/reviews/google-five-stars.png";

const reviews = [
  {
    name: "Catherine Sambuco",
    text: "“About two weeks after starting with Tristan, I noticed a difference in my pain level and started sleeping better. Every week I continue to notice improvements in how I feel physically and mentally.”",
    img: {
      src: catherineImg,
      alt: "catherine sambuco and tristain",
    },
  },
  {
    name: "Thomas Eykelhoff",
    text: "“TWR Fitness was an amazing experience for me. During my time there I received specific workouts, personally designed for my needs. I was also given form correction and even workouts that would be great for me to do when I had to leave for college.”",
    img: {
      src: thomasImg,
      alt: "Thomas playing soccer",
    },
  },
  {
    name: "Fred",
    text: "“Tristan is kind, genuine and knowledgeable. He is the type of person you want to spend hours with every week. Even though I complain a lot about exercising he still gets me to complete my exercises.”",
    img: {
      src: fredImg,
      alt: "Fred in the gym",
    },
  },
  {
    name: "Michael Saniuk",
    text: "“I started working with Tristan to train for my upcoming soccer tryouts. He helped so much with my athleticism and technical abilities. He understood my goals and helped me meet them.”",
    img: {
      src: michaelImg,
      alt: "Michael playing goalie",
    },
  },
];
---

<section class="bg-bg py-20">
  <div class="px-edge text-center">
    <div class="max-w-screen-2xl mx-auto">
      <div>
        <h2 class="text-6xl font-oswald font-bold">
          High Praise from Past Clients
        </h2>
        <p class="mt-5 max-w-md mx-auto text-lg">
          People just like you have started their fitness journey and aren’t
          looking back
        </p>
        <Image
          class="mt-6 mx-auto"
          src={googleFiveStars}
          alt="five stars google reviews"
        />
      </div>

      <div
        class="splide testimonial-carousel"
        aria-label="testimonial carousel"
      >
        <div class="splide__track py-10 lg:py-20">
          <ul class="splide__list">
            {
              reviews.map((review) => (
                <li class="splide__slide grid place-items-center">
                  <div class="w-full max-w-[350px]  text-center ">
                    <Image
                      class="mx-auto"
                      quality={100}
                      src={review.img.src}
                      alt={review.img.alt}
                    />
                    <p class="mt-8 font-oswald font-bold text-3xl text-text-dark">
                      {review.name}
                    </p>
                    <p class="mt-4 font-light">{review.text}</p>
                  </div>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css/core";

  new Splide(".testimonial-carousel", {
    lazyLoad: true,
    autoplay: true,
    interval: 3000,
    type: "loop",
    gap: "10px",
    perPage: 3,
    perMove: 1,
    breakpoints: {
      "1024": {
        perPage: 1,
        destroy: false,
      },
    },
    classes: {
      arrow: "hidden",
      pagination:
        "flex justify-center mt-2 space-x-1 [&>li]:flex [&>li]:items-center h-[14px]",
      page: "w-3 h-3 bg-primary/30 rounded-full transition-all duration-300 [&.is-active]:bg-primary  [&.is-active]:w-[14px] [&.is-active]:h-[14px]",
    },
  }).mount();
</script>
